<section
  id="inicio"
  class="hero"
  style="background-image: url(&quot;images/Hotel Atardecer.jpg&quot;)"
>
  <div class="hero-overlay"></div>
  <div class="hero-content container">
    <div class="hero-text-box">
      <div class="hero-subtitle">
        <div class="line"></div>
        <span>Bienvenido a</span>
        <div class="line"></div>
      </div>

      <h1 class="hero-title">MONTCLAIR<br />GRAND HOTEL</h1>

      <div class="hero-icon">
        <img src="images/Flor de liz info principal.png" alt="" />
      </div>

      <p class="hero-description">
        Donde el lujo atemporal se encuentra con la hospitalidad excepcional.
        Vive momentos inolvidables en un entorno único
      </p>

      <a href="/rooms/cards" class="btn btn-primary lg">Descubrir Más</a>
    </div>
  </div>
</section>
