<header
  class="bg-mirage border-b border-white/10 px-6 lg:px-12 py-3.5 flex items-center justify-between shadow-md"
>
  <div class="flex-1">
    <a href="/#inicio" class="inline-flex items-center">
      <img
        src="images/Logo_oscuro.png"
        class="h-[70px] w-[200px] object-cover"
        alt="Montclair Grand Hotel"
      />
    </a>
  </div>

  <nav class="hidden sm:flex items-center gap-6 text-white/90">
    <a
      href="/admin/rooms"
      class="text-[9px] uppercase tracking-[2px] font-semibold hover:text-twine transition"
      >Habitaciones</a
    >
    <a
      href="/admin/room-types"
      class="text-[9px] uppercase tracking-[2px] font-semibold hover:text-twine transition"
      >Tipos de Habitación</a
    >
    <a
      href="/admin/reservations"
      class="text-[9px] uppercase tracking-[2px] font-semibold hover:text-twine transition"
      >Reservas</a
    >
    <a
      href="/clients"
      class="text-[9px] uppercase tracking-[2px] font-semibold hover:text-twine transition"
      >Clientes</a
    >
    <a
      href="/services/table"
      class="text-[9px] uppercase tracking-[2px] font-semibold hover:text-twine transition"
      >Servicios</a
    >
  </nav>
  <div class="flex-1 flex justify-end gap-4 items-center">
    <a
      href="/rooms/cards"
      class="text-xs uppercase tracking-[2px] font-semibold text-twine hover:underline inline-flex items-center gap-1"
    >
      Vista Pública →
    </a>
  </div>
</header>
